.title {
    margin-top: 5%;
}

.link{
    text-decoration: none;
}
.cartDetails {
    display: flex;
    margin-top: 10%;
    width: 100%;
    justify-content: space-between;
}

.buttons { 
    display: flex;
    justify-items: space-between;
}